.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

.textarea {
  width: 80%;
  height: 250px;
  font-size: 1.4rem;
  padding-left: 10px;
  padding-top: 7px;
}
